* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
}

.main {
    height: 75vh;
    position: relative;
    background-color: white;
}

/* Główny banner*/
.banner {
    background-image: url("../images/banner_got.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #5bc0de;
    width: 100%;
    height: 75vh;
}


.logo {
    position: fixed !important;
    z-index: 1;
    width: 17vh;
    height: 6vh;
    top: 0;
    left: 5vw;
}

.logo:hover {
    height: 8vh;
}

@media screen and (min-width: 1751px) {
    .logo {
        left: 15vw;
    }
}
/*Stylowanie dolnej części*/

.menu {
    height: 25vh;
    width: auto;
    display: flex;
}

.googleLog {
    background-image: url("../images/btn_google+_light_normal_ios@3x.png");
    width: 483px;
    height: 100%;
    background-position: left top 7vh;
    background-repeat: no-repeat;
    background-size: 10vh;
    display: flex;
    justify-content: inherit;
    cursor: pointer;
    transition-duration: 0.4s;
    float: left;
}

.googleLog > button {
    height: 5vh;
    position: center;
    margin-top: 17%;
    margin-left: 30%;
}

.planner {
    background-image: url("../images/icon_planner.png");
    width: 483px;
    height: 100%;
    background-position: center top 7vh;
    background-repeat: no-repeat;
    background-size: 15vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.4s;
    float: left;
}

.exchange {
    background-image: url("../images/icon_currency.png");
    width: 484px;
    height: 100%;
    background-position: center top 7vh;
    background-repeat: no-repeat;
    background-size: 15vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.4s;

}

.googleLog:hover, .planner:hover, .exchange:hover {
    color: white;
    font-weight: bolder;
    background-color: #478DFF;
}

@media screen and (max-width: 720px) { /*zmiana logo na małe*/
    .menu {
        flex-direction: column;
    }
    .googleLog{
        width: 100%;
        background-image: url("../images/btn_google+_light_normal_ios@3x.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: 7vh;
        transition-duration: 0.4s;
    }
    .googleLog > button{
        margin-top: 3%;
    }
    .planner{
        width: 100%;
        background-image: url("../images/icon_planner.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 7vh;
        transition-duration: 0.4s;
    }
    .exchange{
        width: 100%;
        background-image: url("../images/icon_currency.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 7vh;
        transition-duration: 0.4s;
    }
}

.text {
    font-size: 1em;
    text-transform: uppercase;
    line-height: 60px;
    font-family: Helvetica, Arial, sans-serif;
}

/*stylowanie linka*/

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

/*stylowanie exchangeMoney*/

.currencyContainer {
    display: flex; /*dzieci ustawiają się obok siebie*/
    background-color: #2A3E5C;
    height: auto;
    min-height: 90vh;
}

@media screen and (max-width: 720px) {
    .currencyContainer {
        flex-direction: column; /*dzieci ustawiają się pod sobą*/
    }
}

@media screen and (max-width: 720px) {
    .calculator > div {
        text-align: center;

        /*width: 100%;*/

    }
    .calculator > select, .calculator > input, .calculator > button {
     width: 100%;
    }


}
/*stylowanie tabelki z NBP*/

#exchangeContainer div {
    margin-right: 12vh;
}

.table {
    background-color: #d9edf7;
    border: 1px solid white;
    margin-left: 20vh;
    font-family: 'Ubuntu', sans-serif;
}


@media screen and (max-width: 720px) {
    .table{
        width: 100%;
        align-items: center;
        margin-left: 5vh;
        margin-bottom: 2vh;
    }
}

.tableName {
    font-size: larger;
    font-weight: bolder;
    color: white;
    margin-left: 20vh;
    margin-top: 5vh;
}

@media screen and (max-width: 720px) {
    .tableName{
        margin-left: 5vh;
    }
}

.theadTable {
    background-color: #46b8da;
    color: white;
}

.table tbody tr:hover {
    background-color: white;
    cursor: pointer;
}

/*stylowanie kalkulatora*/

.calculator {
    width: 40%;
    margin-top: 20vh;
    font-size: 1.5em;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #fff;
    margin-left: 20vh;
}

.calculatorTitle {
    font-family: "Lohit Bengali";
    font-weight: bolder;
    font-size: x-large;
    padding-top: 6vh;
    color: white;
    margin-bottom: 5vh;
}

.convertButton {
    font-size: 0.8em;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 5px 5px;
    line-height: 1.42857143;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    border: 1px solid transparent;
    width: 40%;
    align-content: center;
    margin-left: 15%;
}

.convertButton:focus{
    outline: none !important;
    border-color: #46b8da;
    box-shadow: 0 0 5px #719ECE;
}

.calculator > input {
    height: 4vh;
}

#result {
    background-color: #ffffff;
    color: black;
    text-align: center;
    border-radius: 4px;
    width: 50%;
}

.calculator > select {
    color: black;
    padding: 8px 16px;
    border: 1px solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
}

#amount{
    height: 4vh;
    width: 20%;
    border-radius: 4px;
    text-align: center;
}

#amount:focus{
    outline: none !important;
    border-color: #46b8da;
    box-shadow: 0 0 12px #719ECE;
}

@media screen and (max-width: 720px){
    .convertButton {
        margin-left: 0.5vh;
        margin-top: 2vh;
    }
    #amount{
        margin-left: 3vh;
        width: 80%;
    }
    #result{
        width: 90%;
        margin-left: 1vh;
    }
}

/* stylowanie plannerContainer*/

.plannerMainContener {
    display: flex; /*dzieci ustawiają się obok siebie*/
    background-color: #2A3E5C;
    height: auto;
    min-height: 90vh;
}

#map {
    width: 80%;
}

#plannerContainer {
    width: 20%;
}

.infoMaps {
    color: white;
    border: 1px solid white;
    text-align: center;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

.startPlace, .finishPlace {
    margin-left: 5vh;
    font-size: 1.5em;
    line-height: 1.42857143;
    color: #fff;
}

#startInput, #endInput {
    margin-left: 3vh;
    height: 4vh;
    width: 80%;
    border-radius: 4px;
}

#startInput:focus{
    outline: none !important;
    border-color: #46b8da;
    box-shadow: 0 0 12px #719ECE;
}

#endInput:focus{
    outline: none !important;
    border-color: #46b8da;
    box-shadow: 0 0 12px #719ECE;
}

#calculateRoute{
    font-size: 1em;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 10px 10px;
    line-height: 1.42857143;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    border: 1px solid transparent;
    width: 60%;
    align-content: center;
    margin-top: 10%;
    margin-left: 15%;
}

#calculateRoute:focus{
    outline: none !important;
    border-color: #46b8da;
    box-shadow: 0 0 5px #719ECE;
}

@media screen and (max-width: 720px) {
    .plannerMainContener {
        flex-direction: column; /*dzieci ustawiają się pod sobą*/
    }
    #map {
        width: 100%;
        height: 60vh; /*musi być wysokość zeby mapa była widoczna*/
    }
    #plannerContainer {
        width: 100%;
    }
    .fromPlace {
        text-align: center;
        width: 100%;
    }
    .toPlace {
        text-align: center;
        width: 100%;
        margin-bottom: 10vh;
    }
    #calculateRoute {
        margin-left: 25%;
        /*margin-top: 1vh;*/
    }

}

.textPlan, .readyInfo {
    text-align: center;
    font-family: "Lohit Bengali";
    font-weight: bolder;
    font-size: x-large;
    padding-top: 6vh;
    color: white;
}

/*logowanie*/


.showMe {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    justify-content: center;
    width: 100%; !important;
    height: 100%;
    padding: 10%;
    text-align: center;
    background: white;
    font-size: 50px;
    color: black;
    font-family: 'VT323', monospace;
    opacity: 0.8;
    filter: alpha(opacity=60);

}

.niceLog {
    position: center;
}
